img {
	width: 196px;
	float:left;
	margin: 5px 10px 0 5px;
}
.has-video{
	width: 430px;
}
div.video-box {
	margin-bottom: 10px;
	border: 1px solid #FF9933;
	border-radius: 5px;
	height: 120px;
	text-indent:10px;
}
.no-video {
	width: 70px !important;
}